/9raveyard/zAdvaDS/.venv/
/9raveyard/zAdvaDS/.idea/
/2025-12_Console_FPS/.vs/
.vscode
.idea
/9raveyard/YT2Notes/Notes
/2026-01_LULC_Mapping/.venv/
/Portfolio/node_modules/
/Portfolio/.env.local
/2026-02_StemLeaf_Generator/.vs/
/2026-02_StemLeaf_Generator/StemLeaf.c2fb1155/
/2026-02_StemLeaf_Generator/x64/
/2026-01_LULC_Mapping/clipped_images/
/2026-01_LULC_Mapping/LC09_L2SP_147041_20260124_20260125_02_T1/
/2026-01_LULC_Mapping/clipped_images/
**/.venv/
**/.vs/
**/.vscode/
**/.idea/
/2025-12_Console_FPS/x64/
**/x64/
__pycache__/
/2026-03_Markov_Predictor/Markov_Predictor
/9raveyard/zAdvaDS/data
scrap.md